<ion-header>
  <ion-toolbar>
    <ion-title>Field Selection</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="selectField('text')">
      <ion-label>Text</ion-label>
    </ion-item>
    <ion-item button (click)="selectField('email');">
      <ion-label>Email</ion-label>
    </ion-item>
    <!-- Add more field types as needed -->
  </ion-list>
</ion-content>
