.login-page {
    height: 100vh; 
    background-color: #000; 
  }
  
  .login-card {
    background-color: #1e1e1e;
    padding: 4rem;
    border-radius: 20px;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.6);
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: auto;
    min-height: 0; 
    margin: 50px auto; 
  }
  
  .login-card ion-item {
    margin-bottom: 2rem; 
    width: 400px;
  }
  
  .login-card ion-button {
    margin-top: 2rem;
  }
  
  ion-toolbar {
    --background: #000; 
    color: #fff;
  }
  
  .login-card ion-input,
  .login-card ion-label {
    color: #fff;
  }
  
  .login-card ion-item::part(native) {
    background: #2e2e2e; 
    border-radius: 10px;
  }
  