<ion-header>
  <ion-toolbar>
    <ion-title>Form Canvas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="canvas">
    <ng-container *ngFor="let field of formFields">
      <ion-item>
        <ion-label>{{ field.label }}</ion-label>
        <ng-container [ngSwitch]="field.fieldType">
          <ion-input *ngSwitchCase="'text'" [placeholder]="field.placeholder"></ion-input>
          <ion-input *ngSwitchCase="'email'" type="email" [placeholder]="field.placeholder"></ion-input>
          <!-- Add more field types as needed -->
        </ng-container>
      </ion-item>
    </ng-container>
  </div>
  <ion-button expand="full" (click)="saveForm()">Save Form</ion-button>
</ion-content>
